<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Special+Elite&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>
    </div>

    <!-- <div id="landing-header">
      <h1>Welcome to JelpCamp!</h1>
      <a href="/campsites" class="btn btn-lg btn-success"
        >Find Your Next Adventure!</a
      >
    </div> -->
    <div class="container-fluid search-body">
      <a href="/campsites" class="btn btn-lg btn-success">
        <h2>Welcome To</h2>
        <h1>JelpCamp!</h1>
      </a>
      <div class="search-description">
        <h5>
          ...from hiking and climbing, to horseback riding or clam-digging!
        </h5>
        <div class="description-images">
          <div class="description-img">
            <img
              src="/images/clam-diggin-esther-ann.jpg"
              alt="Clam Digging. photo: Esther-Ann"
            />
          </div>
          <div class="description-img">
            <img src="/images/hiking-holly-mandarich.jpg" alt="" />
          </div>
          <div class="description-img">
            <img src="/images/MBiking-Cropped.jpg" alt="" />
          </div>
        </div>
        <div class="description-body">
          <p>
            Find activities like these and much more, by searching the
            Recreation Information Database (R.I.D.B.) for the latest
            information on federal parks, recreation areas, camping, tours and
            museums available through federal agencies like the National Park
            Service, Bureau of Land Management, and The Smithsonian!
          </p>
        </div>
        <a href="/campsites" class="btn btn-lg btn-success"
          >Find Your Next &#127956;dventure!</a
        >
      </div>
      <%- include("partials/badges") %>
      <ul class="slideshow">
        <% campgrounds.forEach((campground) => { %>
        <li style="background-image: url(<%=campground.image%>)"></li>
        <% }); %>
        <li></li>
        <li></li>
      </ul>
    </div>

    <%- include("./partials/footer") %>
  </body>
</html>
