<%- include("../partials/header") %>
<div class="container-fluid" style="height: 100%;">
	<div class="row mx-2">
		<div class="col-md-7 mt-2">
			<div class="card mb-4 p-3 thumbnail">
				<img class= "img-responsive mb-2" src="<%= campground.image %>">
				<div class="caption">
					<h5 class="pull-right">$<%= campground.price %>/night</h5>
					<h3><a><%=campground.name%></a></h3>
					<p><%= campground.description %></p>
					<p>
						<em>Submitted By: <%= campground.author.username %></em>
					</p>
					 <!-- display 'edit' and 'delete' btn only when original user is logged in. 
						You must first check if someone is logged in, '&&' if so, whether their
						ID matches the original poster. -->
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-outline-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-outline-danger">
								Delete
							</button>
						</form>
					<% } %>
				</div>
			</div>
			
			<div class="container">
				<div class="text-center">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add A New Comment</a>
				</div>
				<hr>
				<div class="accordion" id="accordionExample">
				<div class="card w-75 rounded thumbnail" style="border-radius: 2%;">	
					<div class="card-header" id="headingFour">
						<h2 class="mb-0">
							<button class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
								See Comments
							</button>
						</h2>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-parent="#accordionExample">
				<% campground.comments.forEach((comment)=>{ %>
						<div class="card-body mb-2 p-0"> 
							<div class="card-header p-1" style="justify-content: space-between;">	
							<strong class="card-title"><%= comment.author.username %></strong>							
							<span class="text-muted">10 days ago</span>
							</div>
							<p class="card-text my-2"><%= comment.text %></p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-outline-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
								Edit Comment
							</a>
							<form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method=POST>
								<input type="submit" class="btn btn-xs btn-outline-danger" value="Delete">
							</form>
							<% } %>
						</div>
				<% }); %>
					</div>
				</div>
				</div>
			</div>
		</div>


		<div class="col-md-5 mt-2 map-box">
			<div class="accordion m-1" id="accordionExample">

				<div class="card camp-info rounded">
					<div class="card-header" style="background-color: rgba(0,0,0,0);" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Collapsible Group Item #1
							</button>
						</h2>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card camp-info rounded">
					<div class="card-header" style="background-color: rgba(0,0,0,0);" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Collapsible Group Item #2
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card camp-info rounded">
					<div class="card-header" style="background-color: rgba(0,0,0,0);" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Camp Map
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<div id="map"></div>						
						</div>
					</div>
				</div>				
			</div>

		</div>
	</div>
</div>	


<script>
	

	function initMap(){
		const lat = <%= campground.lat %>;
		const lng = <%= campground.lng %>;
		const center = {lat: lat, lng: lng };
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 8,
			center: center,
			scrollwheel: false
		});
		const contentString = `
			<strong><%= campground.name %><br />
			<%= campground.location %></strong>
			<p><%= campground.description %></p>
			`
		const infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		const marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click', function(){
			infowindow.open(map, marker);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJss5OZ9rprm3qA-4F1XiH0OYvrLBKPE8&callback=initMap" type="text/javascript"></script>

<a href="/campgrounds">Go Back To Campgrounds.</a>
<%- include("../partials/footer") %>