<%- include("../partials/header") %>
<div class="container-fluid main-body height-fix">
  <h1><%=user.username%> Profile</h1>
  <h2>My Favorite campgrounds</h2>
  <div class="row mx-2">
    <div class="col-lg-7 mt-2">
      <div class="card m-xs-0 m-sm-5 p-3 favorites-list">
        <div class="card-body mb-2 p-0">
          <div
            class="card-header p-1 d-flex justify-content-between favorite-item"
          >
            <strong
              class="card-title favorite-title"
              style="text-decoration: underline; color: gray"
              >Facility Name</strong
            >
          </div>
          <% user.favorites.forEach((favorite)=>{ %>
          <div
            class="card-header p-1 d-flex justify-content-between favorite-item"
          >
            <strong class="card-title favorite-title"
              ><%= favorite.name %></strong
            >
            <a
              href="/campsites/show/<%=favorite.id%>"
              class="btn btn-primary show-btn favorite-btn"
              >More Info</a
            >
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
